.App {
  text-align: center;
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.title{
  color: #00A23B;
  background-color: rgba(0,162, 59, 0.1);
  padding-top:10px;
  padding-bottom:10px;
  margin: 0;
}

.text{
  text-align: left;
  color:rgb(77, 158, 77);
  font-size: 10pt;
  bottom: 0;
  font-style: italic;
}

.right-note{
  text-align: right;
  text-decoration: none;
  color:darkgray;
  display: flex;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
